::selection{
    background-color: #0d47a1;
    color:  #ffffff;
}
.fl_l{float:left;}
.fl_r{float:right;}
.o0{opacity:0;}
.o1{opacity:1;}


body{
	background: #ffffff;
	font-family: 'Lato', 'Lato Light', Arial;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 24px;
	color: #0d47a1;
	cursor: default;
	margin: 0px;
	overflow-x: hidden;
}


*{
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
	transition-property : width, height, box-shadow, text-shadow, border, background, top, left, right, bottom, opacity;
	outline: none;
	box-sizing: border-box;
}

a{text-decoration: none;}
p{margin-top: 16px;margin-bottom: 16px;}
b{font-weight: 400;}
img{max-width: 100%;}

::-webkit-scrollbar{width: 4px;height: 4px;}::-webkit-scrollbar-track{background-color: #FFFFFF;border-left: 0px}::-webkit-scrollbar-thumb{background-color: #2196f3;}::-webkit-scrollbar-thumb:hover{background-color: #0d47a1;}::-moz-scrollbar{width: 4px;height: 4px;}::-moz-scrollbar-track{background-color: #FFFFFF;border-left: 0px;}::-moz-scrollbar-thumb{background-color: #2196f3;}::-moz-scrollbar-thumb:hover{background-color: #0d47a1;}::-o-scrollbar{width: 4px;height: 4px;}::-o-scrollbar-track{background-color: #FFFFFF;border-left: 0px;}::-o-scrollbar-thumb{background-color: #2196f3;}::-o-scrollbar-thumb:hover{background-color: #0d47a1;}::-ms-scrollbar{width: 4px;height: 4px;}::-ms-scrollbar-track{background-color: #FFFFFF;border-left: 0px;}::-ms-scrollbar-thumb{background-color: #2196f3;}::-ms-scrollbar-thumb:hover{background-color: #0d47a1;}::scrollbar{width: 4px;height: 4px;}::scrollbar-track{background-color: #FFFFFF;border-left: 0px}::scrollbar-thumb{background-color: #2196f3;}::scrollbar-thumb:hover{background-color: #0d47a1;}